* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


/* ---- HEADER ---- */


.nav{
    background:linear-gradient(180deg,rgb(31, 103, 185),rgb(3, 101, 146));
}

.navbar-collapse{
    flex-grow: 0;
   
}

.navbar-toggler{
    border: white solid 1px;
} 



.banner-slider{
    height: 30vw;
}

.navbar-nav{
  align-items: center;
} 

.header__img {
    height: 70px;
}

.color-w:hover{
background-color: rgba(9, 119, 170, 0.822);

}

.lupa{
    height: 20px;
    padding: 0;
}



/* ---- MAIN INDEX---- */




.banner {
    width: 100%;
}


.titulo-index {
    padding: 30px 0;
    text-align: center;
    color: rgb(21, 172, 241);
    text-transform: uppercase;
}

.section-juguete {
    background: linear-gradient(90deg, black, rgb(99, 98, 98));
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 0;
    min-height: 400px;
   justify-content: space-around;
    
}

.section-juguete__img {
    width: 50%;
    min-height: 250px;
}

.section-juguete__div {
    display: flex;
    align-items: center;
}

.section-juguete__lista {
    list-style: none;
    text-align: center;
}

.lista-transformer li {
    margin: 30px auto;
}

.img-lista {
    height: 100px;
}

.parrafo-item {
    width: 70%;
    margin: 10px auto 40px auto;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 30px;
}
.p2{
    font-size: 20px;
    
}

.boton-lista {
    background-color: white;
    padding: 25px;
    border-radius: 35px;
    border: 0;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.reversa {
    flex-direction: row-reverse;
}

.play-doh {
    background: none;
    background-color: rgb(70, 149, 201);
}

.nerf {
  background: linear-gradient(90deg,rgb(31, 31, 85),rgb(14, 14, 82));
}

.baby{
    background: none;
    background-color: rgb(223, 158, 169);
}

.monopoly .section-juguete__img{
    height: 40vw;
}

/* ---- MAIN DESTACADOS - PRODUCTOS */

.productos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.productoss{
    display: none;
}

.productos__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:solid 2px rgb(110, 110, 110);
    min-width: 250px;
    max-width: 250px;
    border-radius: 10px;
    margin: 20px ; 
    overflow: hidden; 
  
}

.productos__nombre{
    color: white;
    background-color: rgb(21, 172, 241);
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    padding: 10px;
    width: 100%;
    text-align: center;
    border-radius: 10px 10px 0 0;
    
}

.productos__img{
 height: 200px;
 margin-bottom: 10px;
}

.productos__stock-container{
    text-align: center;
    background-color: rgb(21, 172, 241);
    width: 100%;
    padding: 10px;
  border-radius: 0 0 10px 10px;
  align-items: center;
}

.productos__precio{
    color: white;
    font-size: 30px;
}

.productos__stock{
    width: 40px;
}

.productos__boton{
    border: 0;
    padding: 5px;
    border-radius: 20px;
    height: 40px;
    width:   140px;
    font-size: 13px;
}

.productos__boton:hover{
    background-color: rgb(223, 223, 223);
}


/* ---- MAIN - ADMINISTRADOR ---- */

.titulo-administrador{
  text-align: center;
  
}

.botones-administrador{
    text-align: center;
}

.boton-administrador{
    padding: 5px;
    margin: 40px;
    border: gray 1px solid;
    border-radius: 5%;
}

.boton-administrador:hover{
    background-color: rgb(182, 179, 179);
}

.conteiner-formulario{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
   
}

.input-formulario{
    text-align: center;
}





/*---- FOOTER ----*/

.footer{
    background-color: rgb(70, 149, 201);;
    padding-top: 20px; 
   
    
}

.footer__img{
    height: 20vw;
    
}

.div__logo{
    text-align: center;
}

.contenedor-listas{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer__list{
    list-style: none;
}

.redes{
    display: flex;
}

.redes li{
    margin: 0px 10px;
}

.footer__link{
    text-decoration: none;
    color: white;
}

.ubicacion{
    background:linear-gradient(180deg,rgb(3, 101, 146),rgb(31, 103, 185));
display: flex;
justify-content: space-around;
align-items: center;
padding-top: 30px;
flex-wrap: wrap;
}

.ubicacion__div{
    display: flex;

}

.ubicacion__p{
    color: white;
}

.ubicacion__derechos{
    color: white;
}

.ubicacion__img{
    height: 30px;
}





@media (max-width:850px){
    .section-juguete{
        flex-direction: column-reverse;
        align-items: center;
       
    }

    .section-juguete__lista {
        justify-content: center;
        margin: 40px auto;
        
    }

    .section-juguete__img{
        width: 100%;
    }

    .section-juguete__img__monopoly{
        width: 85%;
    }

   

    .contenedor-listas{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .footer__list{
        
    }

    
}