* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


/* ---- HEADER ---- */


.nav {
    background: linear-gradient(180deg, rgb(31, 103, 185), rgb(3, 48, 105));
}

.img-carro{
    vertical-align: middle;
    height: 35px;
}



.navbar-collapse {
    flex-grow: 0;

}

.navbar-toggler {
    border: white solid 1px;
}



.banner-slider {
    height: 20vw;
    mask-image: linear-gradient(
        black 80%,
        transparent
    );
}

.navbar-nav {
    align-items: center;
}

.header__img {
    height: 70px;
    
}

.color-w:hover {
    background-color: rgba(9, 119, 170, 0.822);

}



.form-control{
text-align: center;
}



/* ---- MAIN INDEX---- */




.banner {
    width: 100%;
}


.titulo-index {
    padding: 30px 0;
    text-align: center;
    color: rgb(21, 172, 241);
    text-transform: uppercase;
}

.section-juguete {
    background: linear-gradient(90deg, black, rgb(99, 98, 98));
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 0;
    min-height: 400px;
    justify-content: space-around;

}

.section-juguete__img {
    width: 50%;
    min-height: 250px;
}

.section-juguete__div {
    display: flex;
    align-items: center;
}

.section-juguete__lista {
    list-style: none;
    text-align: center;
}

.lista-transformer li {
    margin: 30px auto;
}

.img-lista {
    height: 100px;
}

.parrafo-item {
    width: 70%;
    margin: 10px auto 40px auto;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.p2 {
    font-size: 20px;

}

.boton-lista {
    background-color: white;
    padding: 25px;
    border-radius: 35px;
    border: 0;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.reversa {
    flex-direction: row-reverse;
}

.play-doh {
    background: none;
    background-color: rgb(70, 149, 201);
}

.nerf {
    background: linear-gradient(90deg, rgb(31, 31, 85), rgb(14, 14, 82));
}

.baby {
    background: none;
    background-color: rgb(223, 158, 169);
}

.monopoly .section-juguete__img {
    height: 40vw;
}

/* ---- MAIN DESTACADOS - PRODUCTOS */

.productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    margin: auto;
    padding: 60px 0px;
    background-color: white;
    box-shadow: 0px 10px 20px 2px rgb(121, 121, 121);
    margin-bottom: 10px;

}

.main{
    /* background-color: rgb(214, 214, 214); */
}

.productos__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(3px 5px 2px rgb(107, 107, 107));
    border: solid 2px gray;
    min-width: 250px;
    max-width: 250px;
    border-radius: 10px;
    margin: 20px;
    overflow: hidden;
    background-color: white;

}

.productos__img:hover{
    transform: scale(1.1);
    transition: all .5s;
}

.productos__nombre {
    color: white;
    background-color: rgb(11, 83, 165);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    width: 100%;
    text-align: center;
   

}

.productos__img {
    height: 200px;
    margin-bottom: 10px;
}

.productos__stock-container {
    text-align: center;
    background-color: rgb(11, 83, 165);
    width: 100%;
    padding: 10px;

    align-items: center;
}

.productos__precio {
    color: white;
    font-size: 30px;
}

.productos__stock {
    width: 40px;
    text-align: center;
}

.productos__boton {
    border: 0;
    padding: 5px;
    border-radius: 20px;
    height: 40px;
    width: 140px;
    font-size: 13px;
    margin-left: 20px;
}

.productos__boton:hover {
    background-color: rgb(223, 223, 223);
}


/* ---- MAIN - ADMINISTRADOR ---- */


.div-body {
    background: linear-gradient(180deg, rgb(31, 103, 185), rgb(3, 101, 146));
}

.sin-fondo {
    background: none;
}

.titulo-administrador {
    text-align: center;
    color: white;
    margin-top: 30px;

}

.subtitulo {
    text-align: center;
    color: white;
    padding: 10px;
}

.botones-administrador {
    text-align: center;
    width: 50%;
    margin: auto;
}

.boton-administrador {
    padding: 5px;
    border: rgb(128, 128, 128) 1px solid;
    border-radius: 5px;
    width: 30%;
    margin: 40px auto;
}

.boton-administrador:hover {
    background-color: rgb(182, 179, 179);
}

.conteiner-formulario {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 400px;
    margin: 20px auto 40px auto;
    border: solid 3px rgb(255, 255, 255);
    padding: 10px;
    background-color: rgb(5, 64, 131);
    border-radius: 10px;


}

.input-formulario {
    text-align: center;
    margin: 20px auto;
    height: 50px;
    border-radius: 5px;
    min-width: 300px;

}


/* ---------MAIN CARRITO---- */


.fondo{
    background-color: rgb(218, 218, 218);
}
.titulo-carrito {
    text-align: center;
    margin-top:10%;
    color: rgb(73, 144, 202);
}

.carrito-vacio {
    color: white;
    text-align: center;
    margin-top: 20%;
}


.contenedor-card{
    display: flex;
    align-items: center;

}

.compras {
    width: 60%;
    min-width: 500px;
    margin: 10% auto 20% auto;
    padding: 30px 0;
    background-color: rgb(16, 76, 145);
    border-radius: 10px;
    border: solid white 1px;
    height: 500px;
    overflow: auto;
    box-shadow: 0 10px 10px black;
     

}

.compras p {
    color: white;
    font-size: x-large;
    
}


.card-total {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(21, 89, 167);
    border: solid rgba(192, 178, 178, 0.788) 3px;
    padding: 20px 0;
    width: 70%;
    border-radius: 10px;
    margin: 15px auto ;
}

.img-nombre{
  
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-nombre p{
 
    margin-top: 10px;
    font-size: larger;
}



.img-carrito {
    height: 100px;
    border-radius: 5px;
    border: solid 4px rgb(50, 70, 134);
}

.tachito{
    margin-right: 80px;
}

.tachito:hover{
    transform: scale(1.1);
}

.pagar {
    display: flex;
    justify-content: center;
    align-items: baseline;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgb(21, 89, 167);
    border: solid rgba(192, 178, 178, 0.788) 3px;
    padding-top: 10px;
    height: 100px;
    margin: auto;
    margin-bottom: 100px;
    border-radius: 5px;
    width: 60%;
    min-width: 500px;
    margin-bottom: 200px;
}

.precio-total {
    color: rgb(21, 89, 167);
    font-size: large;
    font-weight: bold;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.boton-pagar {
    color: rgb(21, 89, 167);
    font-size: large;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    border: 0;
    margin-top: 20px;
    border: solid rgb(21, 89, 167) 1px;
}

.boton-pagar:hover {
    background-color: rgb(5, 64, 131);
    color: white;
    border: solid white 1px;
}




/*---- FOOTER ----*/

.footer {
    background-color: rgb(70, 149, 201);
    padding-top: 20px;
}

.footer__img {
height: 100px;

}

.div__logo {
    text-align: center;
}

.contenedor-listas {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer__list {
    list-style: none;
}

.redes {
    display: flex;
}

.redes li {
    margin: 0px 10px;
}

.footer__link {
    text-decoration: none;
    color: white;
}

.ubicacion {
    background: linear-gradient(180deg, rgb(3, 101, 146), rgb(31, 103, 185));
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    flex-wrap: wrap;
   
}

.ubicacion__div {
    display: flex;
    margin-top: 20px;

}

.ubicacion__p {
    color: white;
    
}

.ubicacion__derechos {
    color: white;
    margin-top: 20px;
}

.ubicacion__img {
    height: 30px;
}





@media (max-width:850px) {
    .section-juguete {
        flex-direction: column-reverse;
        align-items: center;

    }

    .section-juguete__lista {
        justify-content: center;
        margin: 40px auto;

    }

    .section-juguete__img {
        width: 100%;
    }

    .section-juguete__img__monopoly {
        width: 85%;
    }



    .contenedor-listas {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .productos{
        width: 90%;
    }

   


}

@media (max-width:500px){


    .compras{
        width: 95%;
        min-width: 0px;
    }
    
    .pagar{
        
    width: 95%;
    min-width: 0;
    }

    .productos__card{

        width: 80%;
     
        max-width: 100%;
        
       
    }

    .boton-administrador{
        width: 100px;
    }

    .conteiner-formulario {
      min-width: 0;
      width: 95%;
    
    
    }


    .tachito{
       
        margin-right: 10px;
        height: 30px;
    }

    .contenedor-listas{
        justify-content: space-around;
    }
    


}